
@{
    ViewBag.Title = "Index";
}


<h1>Menu</h1>

<ul class="list-group">
    <li class="list-group-item"><a href="~/PriceList/Index">Obtener la lista de precios de todos los productos.</a></li>
    <li class="list-group-item"><a href="~/ProductInStock/Index"> Obtener la lista de productos cuya existencia en el inventario haya llegado al minimo permitido (5 unidades).</a></li>
    <li class="list-group-item"><a href="~/CustomerByOrderDate/Index">Obtener una lista de clientes no mayores de 35 a os que hayan realizado compras entre el 1 de febrero de 2000 y el 25 de mayo de 2000.</a></li>
    <li class="list-group-item"><a href="~/TotalQuantity/Index">Obtener el valor total vendido por cada producto en el a o 2000.</a></li>
</ul>